---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.page-heading {
	font-size: 30px;
}
h3 {
  margin-bottom: 0;
  }

  img {
	  margin-top: 1rem;
	  margin-bottom: 1rem;
  }
  

.site-title {
	unicode-bidi:bidi-override;
	    direction:rtl;
    }
.site-title::first-letter {
	color: orange;
	font-weight: bold;
}

.img-pass {
	margin-right: 2rem;
	margin-top: 0;
	float: left;
}
ul {
	list-style: none;
}
.post-content {
	margin-bottom: 0;
	display: table;
}
.post-content ul {
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	top: -2rem;
	font-family: monospace;
}
